<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org// DTD Config 3 0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--logImpl属性配置指定使用什么进行日志输出,这里是LOG4J-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.james.mybatis.entity"/>
    </typeAliases>

    <environments default="mybatis_demo">

        <environment id="development">
            
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/world"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
        
        <environment id="mybatis_demo">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis_01"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

        <environment id="oracle_demo">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="oracle.jdbc.OracleDriver"/>
                <property name="url" value="jdbc:oracle:thin:@//192.168.0.12:1521/fszyy"/>
                <property name="username" value="data_migration"/>
                <property name="password" value="data_migration"/>
            </dataSource>
        </environment>

    </environments>

    <!--通过dataBaseIdProvider实现多数据库支持-->
    <databaseIdProvider type="DB_VENDOR">
        <property name="SQL Server" value="sqlserver"/>
        <property name="Oracle" value="oracle"/>
        <property name="MySQL" value="mysql"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mapper/CityMapper.xml"></mapper>

        <mapper resource="mapper/UserMapper.xml"></mapper>
        <mapper resource="mapper/RoleMapper.xml"></mapper>
        <mapper resource="mapper/PrivilegeMapper.xml"></mapper>
        <!--<mapper resource="mapper/UserRoleMapper.xml"></mapper>
        <mapper resource="mapper/RolePrivilegeMapper.xml"></mapper>-->
    </mappers>

</configuration>